.main{
    display: flex;
    flex-wrap:wrap;
    justify-content: center;
    gap: 20px;
    margin-bottom: 50px;
}
.nav{
    width: 100vw;
    position: sticky;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3%;
}
.input{
    width: 60vw;
    height: 75px;
    outline: none;
    border: none;
    border-radius: 20px;
    text-align: center;
}
.input::placeholder{
    text-align: center;
    font-size: larger;
}

.pageHeading{
    text-align: center;
    width: 100vw;
    padding: 3%;
}
.blog{
    display: flex;
    flex-direction: column;
    width: 350px;
    padding: 5%;
    gap: 25px;
    background: var(--secondary-background);
    color: var(--primary-background);
    border-radius: 20px;
    min-height: 200px;
}

.tagHeading{
    font-weight: bold;
}
.tags{
    display: flex;
    justify-content: space-evenly;

}
.tags p {
    background: var(--primary-background);
    color: var(--primary-text);
    padding: 1% 2%;
    border-radius: 3px;
}
.viewPost {
    display: block;
    margin: 0 auto;
    width: fit-content;
    padding: 1% 2%;
    text-decoration: none;
    color: var(--primary-background);
    transition: all 0.3s ease-in-out;
}
.viewPost:hover{
    background-color: var(--primary-background);
    color: var(--primary-text);
}


@media screen and (width<500px) {
    .pageHeading{
        font-size: small;
    }
    .blog{
    width: 300px;
    padding: 2%;
        
    }
}