:root {
  --primary-background: #1e293b;
  --secondary-background: #fd5;
  --primary-text: #fff;
  --secondary-text: #4B6BFB;
  --other-text: #88898F;
}

* {
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--primary-background);
  color: var(--primary-text);
  min-height: 100vh;
  overflow-x: hidden;

}

.link{
  color: var(--primary-text);
  text-decoration: none;
}